In [62]:
# Import needed packages
import os
import pandas as pd
import tweepy
import re
import string
from textblob import TextBlob
import preprocessor as p
import csv
import sys
import pandas_datareader as pdr
import datetime
from nltk.corpus import stopwords
import nltk

In [93]:
startdate = datetime.datetime(2022,3,30)
enddate = datetime.datetime(2022,4,5)
st = pdr.get_data_yahoo('MMM',start=startdate,end=enddate)
st

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-03-30,153.259995,150.770004,151.330002,151.429993,2395100,151.429993
2022-03-31,151.250000,148.800003,150.449997,148.880005,3193800,148.880005
2022-04-01,149.860001,146.850006,149.630005,149.690002,2196400,149.690002
2022-04-04,150.009995,146.080002,149.059998,149.529999,2631800,149.529999
2022-04-05,150.630005,148.509995,148.649994,148.899994,2148600,148.899994

In [26]:
# Get Twitter data and do sentiment analysis
# Authenticate credentials

#Twitter credentials for the app
consumer_key = 'aR8jQP7cfr623h9apTvM711pm'
consumer_secret = 'SLKF8TOUL8PtapZ5amz4Y9ZBRE99ocRxwvEnzIjfEFri2TbhTI'
access_key= '1511751059332493317-eFiU4zDgdWqZPDC7EWZrQVaCLJ5ZX8'
access_secret = 'U3yAxDcXSFVHqsbJW1adpZiElFoIBosY7FW1UJpAOULqM'

#Pass twitter credentials to tweepy
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key,access_secret)
# api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify=True)
api = tweepy.API(auth)

query = "$"+"MMM" + " -filter:retweets -filter:replies"
tweets = tweepy.Cursor(api.search_tweets ,q=query,lang='en', since = startdate, until = enddate, tweet_mode='extended').items(5)
print(tweets)
for tweet in tweets:
    status=tweet._json
    created_at = status['created_at']
    tweet_id = status['id_str']
    tweet_text = status['full_text']
    tweet_text = re.sub(r'\W', ' ',tweet_text)
    print(created_at)

Unexpected parameter: since

<tweepy.cursor.ItemIterator object at 0x7fc1f2984e50>
Thu Mar 31 22:51:05 +0000 2022
Thu Mar 31 22:30:02 +0000 2022
Thu Mar 31 20:28:37 +0000 2022
Thu Mar 31 17:33:06 +0000 2022
Tue Mar 29 23:03:05 +0000 2022

In [9]:
# Obtain stock tickers

data = pd.read_html('https://en.wikipedia.org/wiki/List_of_S&P_500_companies')
#print(data)
table = data[0]
#table.head()
tickers = table['Symbol'].tolist()
tickers1 = tickers[:49]
tickers2 = tickers[49:99]
tickers3 = tickers[99:149]
tickers4 = tickers[149:199]
tickers5 = tickers[199:249]
tickers6 = tickers[249:299]
tickers7 = tickers[349:399]
tickers8 = tickers[449:490]
tickers9 = tickers[480:500]
tickers10 = tickers[500:]

In [4]:
# Get stock prices and returns
startdate = datetime.datetime(2022,3,30)
enddate = datetime.datetime(2022,4,5)

file = open("stocks.csv",'w',newline='')
print(len(tickers))
count = 0
for ticker in tickers:
    count +=1
    print(count)
    try:
        st = pdr.get_data_yahoo(ticker,start=startdate,end=enddate)
        st['pct_change'] = st['Adj Close'].pct_change(4)
        #print(ticker + str(st['Adj Close']) + str(st['pct_change']))
        stockdata = csv.writer(file)
        stockdata.writerow([ticker,st['pct_change'].iloc[-1]])
    except:
        pass

505
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505

In [11]:
# Get Twitter data and do sentiment analysis
# Authenticate credentials

#Twitter credentials for the app
# consumer_key = 'ELRou1VKpS5p7EBEGamXqqGRT'
# consumer_secret = 'QbsToHJOyA9ZsDrFCCw1aErF9LubwqlfLpLcJviruhKepQwX3D'
# access_key= '3138259520-6jOClvoHXzF5DCf2XaylTxhrn1Rb7X50ykQyU3C'
# access_secret = 'r9bokM5UvRbS8QnsYdQksSi2tO8gRj7T4sfq2K41jzmQM'

# consumer_key = 'aR8jQP7cfr623h9apTvM711pm'
# consumer_secret = 'SLKF8TOUL8PtapZ5amz4Y9ZBRE99ocRxwvEnzIjfEFri2TbhTI'
# access_key= '1511751059332493317-eFiU4zDgdWqZPDC7EWZrQVaCLJ5ZX8'
# access_secret = 'U3yAxDcXSFVHqsbJW1adpZiElFoIBosY7FW1UJpAOULqM'

# consumer_key = 'Rd9nlZE2GWgkXXj6LfCGnWCtq'
# consumer_secret = 'yCQeUkiwCUtgsvdn46jQiK6yqISlXy8xlbV3PG4rr8sb3qgWpZ'
# access_key= '1432859916277063683-ZAXekHTSaIi3IecnfXAAlR1iCDWEO6'
# access_secret = 'LtxEkUYYuuRAePwCJaDhexTa2KwKn8nem26SZSHsfc2bu'

consumer_key = 'lLoOz2cbplDwX3vTzZFv2Hyqz'
consumer_secret = 'Yp5YFPvY3ISI2KUVQC6HAqYjDCUWw5na3IFrCvTVoTuvF9QddN'
access_key= '3028339548-i1TWGaqfItqlybCtkJZUQ7km95pylMZl8zPQBLb'
access_secret = 'llC8DaUitlD5wMl0FMqSxR3L78q0OaF56oazKJF5Hqnnr'





#Pass twitter credentials to tweepy
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key,access_secret)
# api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify=True)
api = tweepy.API(auth)

file = open("searchTweets10.csv","w",newline='')
alltweets = csv.writer(file)
count = 0
for ticker in tickers10:
    count += 1
    print(count)
    query = "$"+ticker + " -filter:retweets -filter:replies"
    tweets = tweepy.Cursor(api.search_tweets ,q=query,lang='en', until = enddate, tweet_mode='extended').items(20)
    for tweet in tweets:
        status=tweet._json
        created_at = status['created_at']
        tweet_id = status['id_str']
        tweet_text = status['full_text']
        tweet_text = re.sub(r'\W', ' ',tweet_text)
        print(tweet_text)
        try: 
            alltweets.writerow([ticker,created_at,tweet_id, tweet_text])
        except UnicodeEncodeError:
            pass

1
Oversold on Hourly   https   t co 2Hf0ZbjpKC   HIG  73 98  to 72 80   T  24 14  to 23 82   CTXS  101 49  to 101 13   YUM  122 31  to 119 77   LULU  377 00  to 369 74   BYND  50 18  to 48 50
Oversold on Hourly   https   t co 2Hf0ZbjpKC   HIG  73 98  to 72 80   T  24 14  to 23 82   CTXS  101 49  to 101 13   XLI  104 96  to 104 02   YUM  122 31  to 119 77   LULU  377 00  to 369 74   BYND  50 18  to 48 50
Oversold on Hourly   https   t co 2Hf0ZbjpKC   HIG  73 98  to 72 80   T  24 14  to 23 82   CTXS  101 49  to 101 13   XLI  104 96  to 104 02   YUM  122 31  to 119 77   LULU  377 00  to 369 74   BYND  50 18  to 48 50   GT  14 6
2
   ZBRA price target update    Upgraded by JPMorgan Chase  amp  Co  From  530 00 to  500 00  Day quote change   435  5 24   Target upside  14 94   Published  April 4  2022 https   t co 5m2UMVLJdS
   ZBRA price target update    Upgraded by JPMorgan Chase  amp  Co  From  530 00 to  500 00  Day quote change   429 92  4 01   Target upside  16 3   Published  April 4  2022 https   t co 5m2UMVLJdS
S amp P500上昇率上位 Twitter  TWTR21 62  Zebra Technologies  ZBRA 3 40  ServiceNow  NOW 3 26  Penn National Gaming  PENN 3 00  Caesars Entertainment  CZR 2 88  SolarEdge   SEDG 2 84  IPG Photonics  IPGP 2 84  salesforce   CRM 2 72  Enphase Energy  ENPH 2 72  Ceridian HCM  CDAY 2 54
3
   ZBH price target update    Downgraded by Citigroup From  125 15 to  135 00  Day quote change   113 96   0 13   Target upside  18 46   Published  April 1  2022 https   t co meqdRuYV52
   ZBH price target update    Downgraded by Citigroup From  125 15 to  135 00  Day quote change   126 02   1 45   Target upside  7 13   Published  April 1  2022 https   t co meqdRuYV52
 ZBH Max Pain is 120 00 for maturity 04 14 2022   maxpain  options https   t co Y1g39bK2cB https   t co vkGTLgeGyw
 ZBH Max Pain is 120 00 for maturity 04 14 2022   maxpain  options https   t co Y1g39bK2cB https   t co XPEc1bMH97
4
   ZION price target update    Target Raised by The Goldman Sachs Group From  70 00 to  78 00  Day quote change   64 19   0 16   Target upside  21 51   Published  April 4  2022 https   t co KXHx0L0hVX
   ZION price target update    Target Raised by The Goldman Sachs Group From  70 00 to  78 00  Day quote change   63 73   0 83   Target upside  22 39   Published  April 4  2022 https   t co KXHx0L0hVX
5
 ZTS Max Pain is 200 00 for maturity 04 14 2022   maxpain  options https   t co sl1yMY4x20 https   t co GWccehUuGp
Nice print for  ZTS Size  141000 Price  192 45 Amount   27 135 450 00 Time  956 See more  https   t co 6H1nzUqwma Join https   t co JWvlYbvmfL to get REAL TIME prints  Runners    https   t co VC1LdPYLBp Losers    https   t co 9MWV4TYQ9o Gappers    https   t co bHQKF2dERV
 ZTS  15s  delayed   Issued Press Release on March 31  08 30 00  Zoetis to Host Webcast and Conference Call on First Quarter 2022 Financial Results https   t co xoqzgKzdvo

In [12]:
# Text Processing

# Open tweets CSV
file = open("searchTweets.csv","r")
tweets = pd.read_csv(file)

# Import stopwords with nltk.
stop = stopwords.words('english')

# Exclude stopwords with Python's list comprehension and pandas.DataFrame.apply.
tweets['tweet_without_stopwords'] = tweets['tweet'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

# Text Normalization
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

def lemmatize_text(text):
    words = [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)]
    return " ".join(words)
tweets['processed_tweet'] = tweets.tweet_without_stopwords.apply(lemmatize_text)


tweets[['processed_tweet']].values[0][0]

'MMM open interest maturity 04 08 2022 High put 145 00 High call 152 50 PutCallRatio 0 91 maxpain option http co aHXahUSCdG http co cmojteFgiv'

In [13]:
# Sentiment analysis

file = open("searchTweets.csv","r")
alltweets = csv.reader(file)
print(alltweets)
sentiment_file = open("sentimenttweets.csv","w",newline='')
sntTweets=csv.writer(sentiment_file)
count = 0
for row in alltweets:
    processed_tweet = tweets[['processed_tweet']].values[count][0]
    blob = TextBlob(row[3])
    blob2 = TextBlob(processed_tweet)
    if blob2.sentiment.polarity>0:
        sntTweets.writerow([row[0],row[1],row[2],blob.sentiment.polarity,"positive", blob.sentiment.subjectivity, blob2.sentiment.polarity, blob2.subjectivity])
    elif blob2.sentiment.polarity<0:
        sntTweets.writerow([row[0],row[1],row[2],blob.sentiment.polarity,"negative", blob.sentiment.subjectivity, blob2.sentiment.polarity, blob2.subjectivity])    
    elif blob2.sentiment.polarity==0:
        sntTweets.writerow([row[0],row[1],row[2],blob.sentiment.polarity,"neutral", blob.sentiment.subjectivity, blob2.sentiment.polarity, blob2.subjectivity])
    count += 1
        
file.close()
sentiment_file.close()

<_csv.reader object at 0x1280f7e40>